* {
    font-family: ;
}

body {
    background-color: ;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    user-select: none;
}

#display-area {
    width: 100%;
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 1px rgb(128, 128, 128, 0.116) solid;
}

#display-area .currentInput {
    text-align: right;
    height: 8vh;
    color: white;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}

#display-area .answerArea {
    text-align: right;
    color: orange;
    height: 7px;
    line-height: 3;
    font-size: larger;
}

.keypad-btn {
    display: grid;
    grid: repeat(5, 70px) / repeat(4, 70px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.keypad-btn button {
    outline: none;
    border: none;
    border-radius: 122px;
    background-color: grey;
    color: #fff;
    font-size: x-large;
}

.keypad-btn .func-btn {
    color: black;
    background: orange;
    font-weight: bold;
}

.num-btn:hover {
    background-color: orange;
}

.func-btn:hover {
    background-color: white;
}

@media only screen and(max-width: 600px) {
    body {
        background-color: ;
        align-items: flex-start;
    }
}